<button class="btn btn--primary">Buy Now Btn Primary</button>
<button class="btn btn--secondary">Buy Now Btn Secondary</button>
<button class="btn btn--accent">Buy Now Btn Accent</button>
<button class="btn btn--outline">Buy Now Btn Outline</button>
<button class="btn btn--primary btn--block">Btn primary with block class</button>
<button class="btn btn--secondary btn--block">Btn primary with block class</button>
<button class="btn btn--outline btn--block">Btn primary with block class</button>
<a href="#" class="btn btn--primary">Anchor element with primary class</a>